body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading {
  margin-left: 47%;
}
.heading1 {
  margin-left: 23%;
  padding-bottom: 20px;
}

.login-form {
  max-width: 300px;
  
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}

.registerForm{
  position:fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: left;
  
  
}
.aligntext{
  /* text-align: left; display:flex; flex-direction: column; 
   */
   color: white !important;
   /* text-emphasis-color: white; */
   text-align: left;
}
.loginForm{
  position: fixed;
  top: 50%;
  left: 50%;
  padding-left: 6% !important; 
  padding-top: 4% !important;
  padding:20px;
  /* padding-right: -10px; */
  width:550px;
  height: 500px;
  /* position:relative; */
  background: rgb(77, 77, 77); /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.171);
  border-radius: 50%;
  
  transform: translate(-50%, -50%);
}
.load{
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.userHover{
  position: static !important;
  overflow: auto;
  overflow-x: hidden;
  height: 300px;
  margin-left: 10%;
  
}

.userHover::-webkit-scrollbar {
  display: none;
}
.image-set2{
  height: 100vh;
  BACKGROUND-POSITION-X: LEFT;
  MARGIN-LEFT: 13%;
  width: 100%;
    margin-left: 0%;
}

/* Hide scrollbar for IE, Edge and Firefox */
.userHover {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.image-set{
  /* background-image: url('./chat-bubbles.png'); */
 
  
  background-size: cover;
  height:auto;
  /* width: 100%; */
  top: 200vmax;
  BACKGROUND-POSITION-X: LEFT;
  /* position: relative; */
  MARGIN-TOP: -65%;
  MARGIN-LEFT: 16%;
  /* color: #f5f5f5; */
  position: fixed;
  z-index: 99999 !important;
  
  
  background-size: cover;
  /* height: 100vh; */
  color: #f5f5f5;
  background-position: 100%;
  position:static;
  /* padding: 5px; */
  /* width: 110%; */
  height: 120vh;
  background-size: cover;
  height: 100%; 

  
}
.Bimg{
  
  /* background-image: '?' */
  
}
.modal-color{
  background-color: rgb(33, 15, 53)  ;
  /* border-radius: 15px; */
}
.footer{
  height: 6%;
}
.createGroup{
  margin-top: 3%;
  border-radius: 15px;
  margin-bottom: 10%;
}
.logout{
  margin-top: 10%;
  padding-top: 20%;
}
.chat-box{
  position: absolute;
  right: 0px;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
}
.headerFix{
  margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    /* margin-top: -50%; */
    /* margin-top: -80
px
; */
    position: fixed !important;
    width: 99%;
    /* z-index: 99999 !important; */
    top: 12px;
    left: 0;
    right: 0;
}

.userList {
  /* content: ""; */
  top: 90px;
  position: fixed!important;
  /* position: relative !important; */
  /* clear: both; */
  display: table;
  padding-left: 40px;
  /* padding-top: 90
px
; */
  padding-bottom: 1.5%;
  margin-bottom: -10%;
  padding-right: 3%;
  MARGIN-LEFT: 0;
  margin-left: 10px;
  border-radius: 20px;
  /* position: relative; */
  left: 0;
  bottom: 0;
  margin-top: 10px;
  /* z-index: 99999 !important; */
  padding-top: 18px;
  /* height: 100%; */
  background-color: rgb(33, 15, 53) !important;
  /* border: 4
px
solid rgb(0, 0, 0); */
  /* color: white; */
}
.site-page-header{
  /* margin-top: 10px; */
  border-radius: 50px;
}

.site-page-header {
  /* border: 1px solid rgb(0, 0, 0); */
  /* position: */
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: rgb(33, 15, 53)  !important ;
  
  
}
.create-group-modal{
  border-radius: 15px;
}


.image-set{
  /* background-image: url('./chat-bubbles.png'); */


}
.footer{
  position: fixed !important;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  z-index: 99999 !important;
}

.disable{
  background: #fff;
    /* pointer-events: none; */
    /* z-index: -1; */
}
.onlineUsers{
  top: 200px;
  position:fixed;
  border-radius: 20px;
  right: 10px;
  height: 400px;
  width: 270px;
  background-color: rgb(33, 15, 53)  !important ;
  padding: 10px;
}

.BackgroundColour{
  /* background: #fff; */
  /* position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background: rgb(141, 155, 155); */
}
.gap{
  margin-top: 20%;
}
.site-calendar-demo-card {
  width: 300px;
  border: 1px solid #f0f0f0;
  /* border-radius: 2px; */
  top:550px;
  position:fixed;
  /* border-radius: 20px; */
  right: 10px;
  height: 200px;
  width: 300px;
 /* background-colo; */
  /* background-color: rgb(66, 148, 173)  !important ; */
  /* padding: 10px; */
}
  [data-theme="dark"] .site-calendar-demo-card {
    border: 1px solid #303030;
  }